@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");


:root {
    --primary-dark: #FF00C8;
    --primary-light: #FF80E4;
    --secondary-light: #FFC0F2;
    --text-color: black;
    --site-background: lch(68.55% 43.62 343.96 / 0.503);
    --image-radius: 8px;
    --bs-primary: var(--primary-dark);
    --bs-primary-rgb: 255, 0, 200;
    --bs-btn-bg-color: var(--primary-dark);
    --bs-btn-border-color: var(--primary-dark);
}

body {
    color: var(--text-color);
    font-family: "Oswald", sans-serif;
    background-color: var(--site-background);

}

header {
    display: flex;
    flex-wrap: wrap;
}

#banner {


    text-align: center;
    border-block: 10px solid var(--primary-dark);
    font-size: 1.5em;
    background-color: var(--primary-light);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: var(--primary-light) 0px 4px 6px;
    border-radius: var(--image-radius);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

}

#bannerText {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

a {
    text-decoration: none;
    color: var(--text-color);

}

a:hover {
    background-color: var(--primary-dark);
    border-radius: var(--image-radius);
    color: var(--secondary-light);
}

a:visited {
    color: var(--secondary-light);
}

footer {
    border-block: 10px solid var(--primary-dark);

    justify-content: space-between;
    background-color: var(--primary-light);
    padding: 3em;
    align-items: flex-end;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);


}

address {
    align-items: flex-end;



}

small {
    display: block;
    text-align: center;
    margin-top: 10px;
}

footer nav {
    margin: 0 0 1vi 0;
    text-align: center;
}

img .logoImage {

    max-inline-size: 100%;
    block-size: auto;
    padding: 0;
    display: block;
}


#banner header img,
header>img {
    inline-size: auto;
    max-inline-size: 150px;
    block-size: auto;
    align-self: center;
}


.homeImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vi;
    padding: 1vi 0;
}

.homeImages img {
    inline-size: 100%;
    max-inline-size: 100%;
    border-radius: 10px;
    box-shadow: var(--primary-dark) 0px 4px 6px;
}

.bookRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    inline-size: 100%;
    gap: 1vi;
}

.bookRow .bookPopUp {
    max-inline-size: 65%;
    margin: 0;
}

.bookRow img {
    max-inline-size: 350px;
    inline-size: 35%;
    border-radius: 10px;
    box-shadow: var(--primary-dark) 0px 4px 6px;
}

h4 {
    padding: 0;
    margin: 0 0 0.5em 0;
}

h1 {
    padding: 0;
    margin: 0em 1em 0.5em 1em;
    font-size: clamp(1em, 5vw, 3em);

}

h3 {
    text-align: center;
    font-size: clamp(1em, 5vw, 2.5em);
}

#logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
    font-size: clamp(0.75em, 5vw, 3em);
}

p {
    text-align: center;
}

.skills {

    text-align: center;
    list-style: none;

    ::before {
        content: "🩷";
    }

    li {

        margin-inline-end: 35px;
    }
}

.bookPopUp {
    text-align: center;
    font-size: clamp(1.5em, 5vw, 3em);
    font-weight: bold;
    background-color: var(--primary-light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--primary-light) 0px 4px 6px;
    border: var(--primary-dark) 4px solid;
    color: var(--text-color);
    inline-size: 100%;
    max-inline-size: 100%;

    :hover {
        background-color: var(--primary-dark);
        border-radius: var(--image-radius);
        color: var(--secondary-light);
        text-shadow: -2px -2px 10px #fff, 0 0 20px var(--primary-dark), 0 0 40px var(--primary-dark), 0 0 60px var(--primary-dark), 0 0 80px var(--primary-dark), 0 0 100px var(--primary-dark);
    }
}

.bookRow :hover {
    background-color: var(--primary-dark);
    border-radius: var(--image-radius);
    color: var(--secondary-light);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vi;

}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: clamp(0.5em, 3vw, 2em);

    li {
        margin: 0 1vi;
    }
}

#rightOfParagraph {
    float: right;
    max-inline-size: 300px;
    margin: 1vi;
    border-radius: 10px;
    box-shadow: var(--primary-light) 0px 4px 6px;
}

.businessDescription {
    text-align: left;
    display: block;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    inline-size: 100%;
    gap: 1vi;

    p {
        border-radius: 10px;
        box-shadow: var(--primary-light) 0px 4px 6px;
        border: var(--primary-dark) 4px solid;
        background-color: var(--primary-light);
        padding: 3vi;
    }
}

.staffPhotos {

    inline-size: 100%;
    max-inline-size: 100%;
    display: flex;
    justify-content: center;

    img {
        inline-size: 50%;
        block-size: 50vi;
        border-radius: var(--image-radius);
        box-shadow: var(--primary-light) 0px 4px 6px;
        margin: 5vi;
        filter: hue-rotate(310deg) saturate(150%) brightness(1.1);

    }
}

ul {
    list-style: none;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: var(--primary-dark) 0px 4px 6px;
    border-radius: var(--image-radius);
    overflow: hidden;
    border-collapse: collapse;
    inline-size: 90%;
    max-inline-size: 90%;
    table-layout: fixed;
}

th,
td {
    border: 1px solid var(--primary-dark);
    padding: 10px 20px;
    text-align: center;
}

th {
    background-color: var(--primary-dark) !important;
    border: 1px solid black;
}

td {
    background-color: var(--secondary-light) !important;
}

.btn-primary {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--text-color);
}

.form-check-input:checked {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.form-check-input:focus {
    border-color: var(--primary-dark);
    box-shadow: var(--primary-light) 0px 4px 6px;
}

.form-control:focus {
    border-color: var(--primary-dark);
    box-shadow: var(--primary-light) 0px 4px 6px;
}

.form-select:focus {
    border-color: var(--primary-dark);
    box-shadow: var(--primary-light) 0px 4px 6px;
}

.siteLinks {
    list-style: none;
    text-decoration: underline;

    :visited {
        color: var(--text-color)
    }

    li {
        ::before {
            content: "🩷";
        }

        text-align: left;
    }
}

p a {
    text-decoration: underline;

    :visited {
        color: var(--text-color);
    }
}

blockquote {
    border-left: 5px solid var(--primary-dark);
    margin: 1vi;
    padding: 1vi;
    background-color: var(--secondary-light);
    box-shadow: var(--primary-light) 0px 4px 6px;
}

blockquote::first-letter {
    font-size: 150%;
    font-weight: bold;
}

video {
    border-radius: var(--image-radius);
    box-shadow: var(--primary-light) 0px 4px 6px;
}

@media screen and (min-width: 768px) {
    .bookRow {
        flex-direction: row;
    }

    #Staff {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #portfolioImages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vi;
    }

    #ourStudio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vi;

        img {
            inline-size: 80%;
            block-size: 80%;
        }
    }

    #StudioDescription {
        ul {
            font-size: clamp(1em, 3vw, 1.5em);
        }

        li {
            margin-block: 2em;
        }

        h2 {
            margin-block: 20%;
            font-size: clamp(1.5em, 4vw, 2.5em);
        }
    }

    #testimonial {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vi;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}