:root {
    --primary-dark: #FF00C8;
    --primary-light: #FF80E4;
    --secondary-light: #FFC0F2;
    --text-color: black;
    --site-background: lch(68.55% 43.62 343.96 / 0.503);
    --image-radius: 8px;

}

body {
    color: var(--text-color);
    font-family: "Oswald", sans-serif;
    background-color: var(--site-background);

}

header {
    display: flex;
    flex-wrap: wrap;
}

#banner {


    text-align: center;
    border-block: 10px solid var(--primary-dark);
    font-size: 1.5em;
    background-color: var(--primary-light);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: var(--primary-light) 0px 4px 6px;
    border-radius: var(--image-radius);



}

#bannerText {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

a {
    text-decoration: none;
    color: var(--text-color);

}

a:hover {
    background-color: var(--primary-dark);
    border-radius: var(--image-radius);
    color: var(--secondary-light);
}

a:visited {
    color: var(--secondary-light);
}

footer {
    border-block: 10px solid var(--primary-dark);
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-light);
    padding: 20px;
    align-items: flex-end;

}

address {
    align-items: flex-end;



}

small {
    vertical-align: bottom;
    align-items: center;
    text-align: center;

}

footer nav {
    margin: 0 0 1vi 0;
}

img .logoImage {

    max-inline-size: 100%;
    block-size: auto;
    padding: 0;
    display: block;
}


#banner header img,
header>img {
    inline-size: auto;
    max-inline-size: 150px;
    block-size: auto;
    align-self: center;
}


.homeImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vi;
    padding: 1vi 0;
}

.homeImages img {
    inline-size: 100%;
    max-inline-size: 100%;
    border-radius: 10px;
    box-shadow: var(--primary-dark) 0px 4px 6px;
}

.bookRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    inline-size: 100%;
    gap: 1vi;
}

.bookRow .bookPopUp {
    max-inline-size: 65%;
    margin: 0;
}

.bookRow img {
    max-inline-size: 350px;
    inline-size: 35%;
    border-radius: 10px;
    box-shadow: var(--primary-dark) 0px 4px 6px;
}

h4 {
    padding: 0;
    margin: 0 0 0.5em 0;
}

h1 {
    padding: 0;
    margin: 0em 1em 0.5em 1em;
    font-size: clamp(1.5em, 5vw, 3em);

}

#logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.skills {

    text-align: center;
    list-style: none;

    ::before {
        content: "🩷";
    }

    li {

        margin-inline-end: 35px;
    }
}

.bookPopUp {
    text-align: center;
    font-size: clamp(1.5em, 5vw, 3em);
    font-weight: bold;
    background-color: var(--primary-light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--primary-light) 0px 4px 6px;
    border: var(--primary-dark) 4px solid;
    color: var(--text-color);
    inline-size: 100%;
    max-inline-size: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vi;

}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#rightOfParagraph {
    float: right;
    max-inline-size: 300px;
    margin: 1vi;
    border-radius: 10px;
    box-shadow: var(--primary-light) 0px 4px 6px;
}

.businessDescription {
    text-align: left;
    display: block;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    inline-size: 100%;
    gap: 1vi;

    p {
        border-radius: 10px;
        box-shadow: var(--primary-light) 0px 4px 6px;
        border: var(--primary-dark) 4px solid;
        background-color: var(--primary-light);
        padding: 3vi;
    }
}

#LoganLovePicture {
    
    inline-size: 100%;
    max-inline-size: 100%;
    display: flex;
    justify-content: center;

    img {
        inline-size: 50%;
        block-size: 50vi;
        border-radius: var(--image-radius);
        box-shadow: var(--primary-light) 0px 4px 6px;
        margin: 5vi;
        filter: hue-rotate(310deg) saturate(150%) brightness(1.1);

    }
}

ul {
    list-style: none;
    text-align: center;
}